<nav class="navbar navbar-default" style="margin:0px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div ui-sref="home" class="pointer">
        <a class="navbar-brand" style="padding: 5px;">
          <img alt="Brand" src="assets/NoRiskLogo40x.png">
        </a>
        <a class="navbar-brand">No Risk</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="barButton in info.left"><a ui-sref={{barButton.link}}><i class={{barButton.icon}}></i> {{barButton.name}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="barButton in info.rigth"><a ui-sref={{barButton.link}}><i class={{barButton.icon}}></i> {{barButton.name}}</a></li>
        <li ng-show="info.username"><p class="navbar-text">Conectado como <strong>{{info.username}}</strong></p></li>
        <li ng-show="info.username"><a ng-click="logout()" style="cursor: pointer;"><i class="fa fa-sign-out"></i> Desconectar</a></li>
      </ul>
    </div>
  </div>
</nav>
