<div class="container-fluid" style='background-image: url("assets/homeBG.png"); background-repeat: repeat-x; height: 400px;'>
  <img src = "assets/NoRiskLogo268x.png" class="center-block" style="padding:30px;">
  <button type="button" class="btn btn-danger center-block" style="width:150px; heigth:50px;" ui-sref="register">Empezar</button>
</div>
<div class="container-fluid bg-primary">
  <h1 class="text-center" ><strong>¿Por qué usar No Risk?</strong></h1>
  <div class="row">
    <div class="col-xs-4 text-center">
      <img src = "assets/whyIdentificar.png" class="center-block">
      <h2><Strong>Identifica</strong></h2>
      <h4 style="padding:10px">Identifica y gestiona los riesgos de tus proyectos de manera sencilla.</h4>
    </div>
    <div class="col-xs-4 text-center">
      <img src = "assets/whyAnalisis.png" class="center-block">
      <h2><Strong>Analiza</strong></h2>
      <h4 style="padding:10px">Analiza tus riesgos basándote en los resultados de otros proyectos con los mismos riesgos.</h4>
    </div>
    <div class="col-xs-4 text-center">
      <img src = "assets/whyAnticipar.png" class="center-block">
      <h2><Strong>Anticipa</strong></h2>
      <h4 style="padding:10px">Anticípate a los riesgos y haz que tengan el menor impacto negativo en tu proyecto.</h4>
    </div>
  </div>
</div>
<div class="container-fluid text-center" style="padding-bottom: 20px;">
  <h1><strong><i class="fa fa-users"></i></br>Nosotros</strong></h1>
  <h3 style="padding:30px 100px;">
    No risk es una aplicación web para la gestión de riesgos creada por JuanMaiyVic.SA, mejor conocidos como el equipo 8 de Procesos de la ingeniería del software 1, formado por:
  </br>
  </h3>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 text-left">
      <h3>
        <ul class>
          <li>Juan andrés García Cañadas</li>
          <li>Victor Víctor García Valdeavero</li>
          <li>Samumuel Maillo Cabrerizo</li>
        </ul>
      </h3>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <h3 style="padding:30px 100px;">
  </br>
  Esta aplicación a sido desarrollada como práctica de la asignatura anteriormente nombrada en la Universidad de Almería
  </h3>
  <img src = "assets/ualLogo.png" class="center-block">
</div>
