textarea {
    resize: none;
}

.lPanelBody {
	max-height: 270px;
	height: 270px;
}

.lPanelBodySmall {
	max-height: 160px;
	height: 160px;
}

.rPanelBody {
	max-height: 475px;
	height: 475px;
	overflow-y: scroll;
}

.pointer{
	cursor: pointer;
}

@media (min-width: 992px) {
    .lPanelBody {
    	max-height: 475px;
        height: 475px;
    }

    .lPanelBodySmall {
    	max-height: 180px;
    	height: 180px;
    }
}

@media (min-height: 925px) {

	.rPanelBody {
		max-height: 750px;
		height: 750px;
		overflow-y: scroll;
	}

	@media (min-width: 992px) {
	    .lPanelBody {
	    	max-height: 750px;
	        height: 750px;
	    }

      .lPanelBodySmall {
      	max-height: 320px;
      	height: 320px;
      }
	}

}
